h1 {
    color:coral;
    font-size: 40px;
    text-align: center;
    font-family: Verdana, 'Times New Roman', serif;
}
  
h2 {
    font-size: 20px;
    color:teal;
    font-family: Verdana, 'Times New Roman', serif;
}

h3{
    font-size: 18px;
    color: coral;
    font-weight: bold;
    font-family: Verdana, 'Times New Roman', serif;
}
  
a:link {
    color:teal;
    font-weight: bold;
    font-family: Monospace, Verdana, 'Times New Roman',;
    font-size:18px;
}

a:visited {
    color:turquoise;
    font-weight: normal;
    font-family: Monospace, Verdana, 'Times New Roman',;
    font-size:18px;
}

p{

}
